body {
    font-family: Garamond, serif;
    color: #444c64;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 150px;
    padding: -10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #5c6b83;
}

nav ul li a:hover {
    color: #edf6f9;
}

main {
    padding: 20px;
}

/* Adjustments for full-screen sections */
section {
    height: 100vh; /* 100% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling for content within sections */
section .content {
    max-width: 800px;
    margin: auto;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 40px;
}

/* Styling for Call To Action button */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5c6b83;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #444c64;
}

/* Styling for lists within sections */
ul, ol {
    text-align: left;
    margin-left: 30px;
}

ul li, ol li {
    margin-bottom: 10px;
}


footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.footer-logo img {
    max-height: 30px;
}

.regulation-info {
    margin-bottom: 10px;
}

.contact-info a {
    color: #5c6b83;
    text-decoration: none;
    margin: 0 5px;
}
